.p-info-list {
  &__information-list {
    & > li {
      @include gradient-lt;
      padding: 20px;
      position: relative;

      &.unread {
        &::before {
          content: '';
          position: absolute;
          left: -2px;
          top: -2px;
          display: block;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: #e03941;
        }
      }
    }

    & > li + li {
      margin-top: 30px;
    }
  }

  &__date {
    width: 90px;
    display: inline-block;
    vertical-align: middle;
  }

  &__title {
    margin-left: 16px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 120px);
    overflow: hidden;
    vertical-align: middle;
  }
}
