.p-profile {
  &__avatar {
    border-radius: 400px;
    overflow: hidden;
    position: relative;
    max-width: 250px;
    margin: auto;
    &::before {
      content: "";
      display: block;
      padding-top: 100%;
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      object-fit: cover;
    }
  }
  &__name {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
  }
  &__edit {
    display: flex;
    justify-content: flex-end;
    @include breakpoint-md {
      margin-bottom: 30px;
    }
  }
  &__language {
    li {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__category {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include breakpoint-md {
      flex-direction: column;
    }
    li {
      flex-basis: 49%;
      margin-bottom: 10px;
    }
    //.p-category {
    //  display: block;
    //}
  }
  &__lesson-block {
    margin: 160px 0 100px;
  }
  &__lesson-list {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

    .p-card + .p-card {
      margin-left: 20px;
    }
  }
}
