.p-register-complete {
  &__icon-profile {
    background-color: #C5CFFC;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    & > img {
      width: 70px;
    }
  }
}
